{% extends 'base.html.twig' %}

{% block title %}Modifier collaborateur{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark bg-info">
                <a class="navbar-brand" href="#">
                    <img src="https://www.backgroundsy.com/file/large/web-app-user.jpg" width="55" height="50" class="d-inline-block align-top" alt="">
                       Manager
                </a>
                
                        <a href="{{ path('app_logout') }}" class="btn btn-light" >Deconnection</a>
                
            </nav>
        </div>
        <div {#class="wrapper"#} class="col-2">


                <!-- Sidebar -->
                <nav id="sidebar" class="sidebar sidebar-light " style="background-color: #e3f2fd;">
                    <div class="sidebar-header">
                    <h4>MENU</h4>
                    </div>
                    </br>
                    </br>
                        <a href="{{path('manager_ajout_collaborateur')}}" class="btn btn-info">Ajouter un  collaborateur</a>
                    </br>
                    </br>
                        <a href="{{path('manager_collaborateur')}}" class="btn btn-info">Gestion des collaborateurs</a>
                    </br>
                    </br>
                        <a href="{{path('demande')}}" class="btn btn-info">Voir Demande des collaborateurs</a>                   
                    </br>
                    </br>
                        <a href="#" class="btn btn-info">Voir solde de congé des collaborateurs</a>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                   
                        <a href="{{ path('manager_index') }}" class="btn btn-info">Home</a>
                    
                
                </nav>
        </div>
        <div class="col-10">
             {{ form(collaborateurForm) }}
        </div>
    </div>

{% endblock %}
